@model IEnumerable<Painel.Domain.Entities.RequestModel>

<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Method)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Host)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStartTime)
            </td>
            @await Html.PartialAsync("_ListTableBodyComom", item)
        </tr>
    }
</tbody>