@model Painel.Domain.Entities.ResponseModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResponseModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinishTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinishTime)
        </dd>
        @await Html.PartialAsync("_DetailsDifinitionList")
    </dl>
</div>
<div>
    <button>
        <a asp-action="List" class="text-decoration-none">Back to List</a>
    </button>
</div>