@model Painel.Domain.Entities.LoggerModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LoggerModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallingFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallingFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CycleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CycleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="List">Back to List</a>
</div>
